/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON e Utilities */
html {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: calc((100% / 12) * 8);
    margin: auto
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.debug .bg-grey {
    background-color: #d3d3d3;
}

.debug .bg-green {
    background-color: #228b22;
}

.debug .bg-pink {
    background-color: #f08080;
}

.debug .bg-azure {
    background-color: #20b2aa;
}

.debug .bg-light-azure {
    background-color: #add8e6;
}

.cw-7 {
    width: calc((100% / 12) * 7);
}

.cw-4 {
    width: calc((100% / 12) * 4);
}

.cw-2 {
    width: calc((100% / 12) * 2);
}

.cw-5 {
    width: calc((100% / 12) * 5);
}

button {
    border: none;
}

/* #endregion COMMON e Utilities */

/* #region HEADER */
/* #region HEADER top */

#header-top {
    justify-content: center;
    padding: 1rem;
    background-color: #255ee9;
}

#header-top>div {
    align-items: center;
}

#header-top .container>.logo,
#link,
#login {
    padding: 0.5rem;
}

#header-top .logo,
#login {
    flex-basis: 20%;
}

#header-top #link {
    flex-basis: 80%;
    justify-content: center;
}

#link li>a {
    margin: 0 1rem;
    color: white;
    font-weight: bold;
}

#header-top #login {
    justify-content: flex-end;
    font-weight: bold;
}

#login-circle {
    background-color: white;
    height: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* #endregion HEADER top*/

/* #region HEADER bottom */
#header-bottom {
    padding: 5rem 2rem;
    background-image: url(/assets/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-container {
    margin: auto;
    width: calc((100% / 12) * 6);
    color: white;
    font-weight: bold;
    padding: 4rem 2rem;
}

.welcome-container>h1,
p {
    text-align: center;
    padding: 1rem;
}

.welcome-container>h1 {
    font-size: 50px;
}

.welcome-container>p {
    font-size: 23px;
    line-height: 2rem;
}

.welcome-container>div {
    text-align: center;
    padding: 1rem;
}

.welcome-container a {
    margin: 0 2rem;
}

.welcome-container #download-mac,
#open-in-browser {
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
}

.welcome-container #download-mac {
    background-color: white;
    color: #23272a;
}

.welcome-container #open-in-browser {
    background-color: #23272a;
    color: white;
}

/* #endregion HEADER bottom*/
/* #endregion HEADER*/

/* #region MAIN */
.debug section {
    padding: 2rem;
    display: flex;
}

.debug .image {
    background-color: #1e90ff;
    height: 400px;
    border: 2px dashed black;
}

.debug .description {
    background-color: #ffc0cb;
    height: 400px;
    border: 2px dashed black;
}

/* big -section */
.debug main section:last-of-type {
    height: 100vh;
}

.debug main section:last-of-type>.container {
    height: 500px;
    border: 2px dashed black;
}

/* #endregion MAIN */

/* #region FOOTER */

/* #region FOOTER-TOP */
.debug #footer-top {
    background-color: #23272a;
    height: 500px;
    padding: 1rem 0 2rem 0;
}

.debug #footer-top .container {
    height: 100%;
}

.debug #footer-top .container>section {
    border: 2px dashed white;
}

/* #endregion FOOTER-TOP */

/* #region FOOTER-BOTTOM */
.debug #footer-bottom {
    background-color: #23272a;
    padding: 1rem 0 0 0;
}

.debug #footer-bottom .container {
    justify-content: space-between;
}

.debug footer .logo,
.btn-footer {
    border: 2px dashed black;
    padding: 0.5rem;
    margin: 1rem 0;
}

/* #endregion FOOTER-BOTTOM */
/* #endregion FOOTER*/