/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON e Utilities */
html {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: calc((100% / 12) * 8);
    margin: auto;
    max-width: 1140px;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.bg-grey {
    background-color: #f6f6f6;
}

.cw-7 {
    width: calc((100% / 12) * 7);
}

.cw-4 {
    width: calc((100% / 12) * 4);
}

.cw-2 {
    width: calc((100% / 12) * 2);
}

.cw-5 {
    width: calc((100% / 12) * 5);
}

button {
    border: none;
}

.wave-top {
    color: #f6f6f6;
    margin-bottom: -5px;
}

.wave-bottom {
    background-color: #f6f6f6;
    color: white;
}

/* #endregion COMMON e Utilities */

/* #region HEADER */
/* #region HEADER top (nav) */

#header-top {
    justify-content: center;
    padding: 1rem;
    background-color: #255ee9;
}

#header-top>div {
    align-items: center;
}

#header-top .container>.logo,
#link,
#login {
    padding: 0.5rem;
}

#header-top .logo,
#login {
    flex-basis: 20%;
}

#header-top #link {
    flex-basis: 80%;
    justify-content: center;
}

#link li>a {
    margin: 0 1rem;
    color: white;
    font-weight: bold;
}

#header-top #login {
    justify-content: flex-end;
    font-weight: bold;
}

#login-circle {
    background-color: white;
    height: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
}

/* #endregion HEADER top*/

/* #region HEADER bottom */
#header-bottom {
    padding: 5rem 2rem;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-container {
    margin: auto;
    width: calc((100% / 12) * 6);
    color: white;
    font-weight: bold;
    padding: 4rem 2rem;
}

.welcome-container>h1,
.welcome-container>p {
    text-align: center;
    padding: 1rem;
}

.welcome-container>h1 {
    font-size: 50px;
}

.welcome-container>p {
    font-size: 23px;
    line-height: 2rem;
}

.welcome-container>div {
    text-align: center;
    padding: 1rem;
}

.welcome-container a {
    margin: 0 2rem;
}

.welcome-container #download-mac,
#open-in-browser {
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
}

.welcome-container #download-mac {
    background-color: white;
    color: #23272a;
}

.welcome-container #open-in-browser {
    background-color: #23272a;
    color: white;
}

/* #endregion HEADER bottom*/
/* #endregion HEADER*/

/* #region MAIN */
section {
    display: flex;
    padding: 10rem 0;
}

.description {
    padding: 2rem 5rem;
}

.description h2 {
    font-size: 50px;
}

.description>p {
    font-size: 20px;
    text-align: left;
    line-height: 1.75rem;
    margin: 1rem 0;
}

/* #region big-section */

#big-section>div {
    text-align: center;

}

#big-section h2 {
    font-size: 50px;
}

#big-section p {
    margin-top: 1rem;
    font-size: 20px;
    line-height: 1.75rem;
}

#new-adventure {
    padding: 2rem;
    position: relative;
}

#big-section h3 {
    font-size: 25px;
    margin-bottom: 2rem;
}

#big-section a {
    background-color: #8ea1e1;
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
}

/* #endregion big-section */
/* #endregion MAIN */

/* #region FOOTER */

/* #region FOOTER-TOP */
#footer-top {
    background-color: #23272a;
    padding: 1rem 0 2rem 0;
}

#footer-top .container {
    border-bottom: 1px solid #8ea1e1;
}

#footer-top>div.container>section {
    flex-direction: column;
    padding: 3rem;
}

#place-for-talk>h3 {
    color: #7188d9;
    font-size: 40px;
    margin-bottom: 2rem;
}

#place-for-talk>p {
    color: white;
    line-height: 1rem;
}

#place-for-talk img {
    height: 16px;
}

#footer-top h4 {
    color: #7188d9;
}

#footer-top li {
    margin: 1rem 0;
    color: white;
}

/* #endregion FOOTER-TOP */

/* #region FOOTER-BOTTOM */
#footer-bottom {
    background-color: #23272a;
    padding: 1rem 0 0 0;
}

#footer-bottom .container {
    justify-content: space-between;
}

footer .logo,
#register {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#footer-bottom #register {
    background-color: #8ea1e1;
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
}

/* #endregion FOOTER-BOTTOM */
/* #endregion FOOTER*/